# OS
.DS_Store

# IDE
.idea
*.iml
.dir-locals.el
.vscode
.testnets

# starport generated folders
./vue/
./flutter/

*.out

genesis/alpha
genesis/beta
genesis/gamma
genesis/pylonsd

artifacts

cmd/pylonsd/__debug_bin
