# OS
.DS_Store

# IDE
.idea
*.iml
.dir-locals.el
.vscode

vue/node_modules
vue/dist
release/


**/.idea

cmd/fixtures_test/nonce.json
cmd/test/nonce.json
build

genesis/alpha
genesis/beta
genesis/gamma
genesis/pylonsd