# Here is a good article on how to declare .gitignore entries :
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# OS
.DS_Store

# IDE
.idea
*.iml
.dir-locals.el
.vscode

**/node_modules
vue/dist
release/

genesis/alpha
genesis/beta
genesis/gamma
genesis/pylonsd

