genesis:
  chain_id: "pylons"
  app_state:
    staking:
      params:
        bond_denom: "ubedrock"
    crisis:
      constant_fee:
        denom: ubedrock
    gov:
      deposit_params:
        min_deposit:
          denom: ubedrock
    mint:
      minter:
        inflation: "0"
      params:
        mint_denom: "disabled"
        inflation_rate_change: "0"
        inflation_max: "0"
        inflation_min: "0"
    bank:
      params:
        send_enabled:
          - denom: "ustripeusd"
            enabled: false
accounts:
  - name: alice
    coins: ["20000000000upylon", "200000000ubedrock"]
  - name: bob
    coins: ["10000000000upylon", "100000000ubedrock"]
validator:
  name: alice
  staked: "100000000ubedrock"
client:
  openapi:
    path: "docs/static/openapi.yml"
faucet:
  name: bob
  coins: [ "10000upylon", "10000ubedrock" ]
host:
  rpc: "0.0.0.0:26659"
  p2p: "0.0.0.0:26658"
  prof: ":6061"
  grpc: ":9092"
  api: "0.0.0.0:1318"
