version: '3.4'
services:
  node0:
    build:
      context: .
      target: test_server
    ports:
      - "26656-26657:26656-26657"
    volumes:
      - ./testnet/node0/pylonsd:/root/.pylonsd
    networks:
      testnet:
        ipv4_address: 192.168.10.2
  node1:
    build:
      context: .
      target: test_server
    ports:
      - "26659-26660:26656-26657"
    volumes:
      - ./testnet/node1/pylonsd:/root/.pylonsd
    networks:
      testnet:
        ipv4_address: 192.168.10.3
  node2:
    build:
      context: .
      target: test_server
    ports:
      - "26661-26662:26656-26657"
    volumes:
      - ./testnet/node2/pylonsd:/root/.pylonsd
    networks:
      testnet:
        ipv4_address: 192.168.10.4
  test1:
    build:
      context: .
      target: integration_test
    networks:
      testnet:
        ipv4_address: 192.168.10.5
    depends_on:
      - node0
      - node1
      - node2
  test2:
    build:
      context: .
      target: fixture_test
    networks:
      testnet:
        ipv4_address: 192.168.10.6
    depends_on:
      - node0
      - node1
      - node2
      - test1

networks:
  testnet:
    driver: bridge
    ipam:
      driver: default
      config:
      -
        subnet: 192.168.10.0/16
